body{
    background-color: hsl(212, 45%, 89%);
}
.qrCodeCard{
    min-width: 100px;
    border-radius: 20px;
    max-width:300px ;
}
.qrCodeImg{
    border-radius: 20px;
    padding: 15px;
    max-height: 300px;
}

.qrCodeTitle{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

.qrCodeText{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color: hsl(212, 55%, 77%);
    font-size: calc(10px + .39vw);
}


